/* COMMON */

.body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.71;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.42px;
	color: var(--color-primary);
}

/* logo */
.logo {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	font-size: 26px;
	line-height: var(--normal-line-height);
	font-weight: 700;
	letter-spacing: 0.78px;

	color: var(--color-title);
}

.logo__accent {
	color: var(--color-accent);
}

/* input */

// .form-modal__field {}

.input {
	display: block;
	width: 100%;
}

/* textarea */
.textarea {
	resize: none;
	display: block;
	width: 100%;
}

/* buttons */
.button {
	display: inline-flex;
	align-items: center;
	column-gap: 10px;
	padding: 10px 32px;
	border-radius: 4px;
	border: none;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	color: #fff;
	background-color: var(--color-accent);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.875;
	letter-spacing: 0.96px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	transition: color var(--transition-duration) var(--transition-function),
		background-color var(--transition-duration) var(--transition-function),
		box-shadow var(--transition-duration) var(--transition-function);
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: #188CE8;
	}

	svg {
		fill: currentColor;
	}

}

.button--less {
	padding: 6px 22px;
	background-color: var(--color-background);
	color: var(--color-title);
	box-shadow: none;

	&:hover,
	&:focus {
		background-color: var(--color-accent);
		color: #fff;
		box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
	}
}

/* section */

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section__title {
	font-size: 36px;
	font-weight: 700;
	line-height: var(--normal-line-height);
	letter-spacing: 1.08px;
	text-align: center;
	color: var(--color-title);
	margin-bottom: 50px;
}

.section--gray-bg {
	background: var(--color-background);
}

.title-hide {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

[class*="__container"] {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* social */
.social {
	display: flex;
	column-gap: 10px;
}

.social__item {
	line-height: 0;
}

.social__link {
	display: inline-flex;
	width: 44px;
	height: 44px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.10);
	transition: background-color var(--transition-duration) var(--transition-function);

	&:hover,
	&:focus {
		background-color: var(--color-accent);
	}
}

.social__svg {
	fill: #fff;
}